{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}
{% block index %}
<table class="table table-bordered table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>Expense Account</th>
            <th>Item Description</th>
            <th>Charge Codes</th>
            <th>Rate</th>
            <th>Avg Monthly Units Billed</th>
            <th>Billed Units</th>
            <th>Item Total</th>
            <th>Item Group Total</th>
            <th>Account Total</th>
        </tr>
    </thead>
    <tbody>
        {% for account in rows.items %}
        <tr class="table-warning">
            <th scope="row" colspan="8">{{account.1.items.0.1.0.10}} - ({{account.0}})</th>
            <td>Account Total</td>
        </tr>
        {% for group in account.1.items %}
        <tr><td>{{group.0}} - </td>
            <th scope="row" colspan="6"></th>
            <td>group total</td>
        
        </tr>
        {% for item in group.1 %}
        <tr>
            <td></td>
            <td>{{item.13}}</td>
            <td>{{item.12}}</td>
            <td>${{item.14}}</td>
            <td></td>
            <td>{{item.15}}</td>
            <td>${{item.16}}</td>
        </tr>
        {% endfor %}

        {% endfor %}
        <!--
        <tr class="table-warning" id="acc-{{account.pk}}">
            <th scope="row" colspan="8" >{{account}} <i id="acc-i-{{account.pk}}"class="fa fa-caret-down" aria-hidden="true"></i></th>
            <td> ${{account.total|intcomma}}</td>
        </tr>
        -->
        {% endfor %}
    </tbody>
</table>
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}
