{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}
{% block index %}
<table class="table table-bordered table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>Expense Account</th>
            <th>Item Description</th>
            <th>Charge Codes</th>
            <th>Rate</th>
            <th>Avg Monthly Units Billed</th>
            <th>Billed Units</th>
            <th>Item Total</th>
            <th>Item Group Total</th>
            <th>Account Total</th>
        </tr>
    </thead>
    <tbody>
        {% for account in rows %}
        <tr class="table-warning">
            <th scope="row" colspan="8">{{account}}</th>
        </tr>
        <!--
        <tr class="table-warning" id="acc-{{account.pk}}">
            <th scope="row" colspan="8" >{{account}} <i id="acc-i-{{account.pk}}"class="fa fa-caret-down" aria-hidden="true"></i></th>
            <td> ${{account.total|intcomma}}</td>
        </tr>
        -->
        {% endfor %}
    </tbody>
</table>
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}
